{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block content %}
    <div class="col-12 col-md-6 mx-auto">
    {% if title %}
    <h1 class="my-3">{{ title }}{{ action_url }}{{ next_url }}</h1>{% endif %}
    <form method="POST" action="{% if action_url %}{{ action_url }}{% endif %}">
    {% csrf_token %}
        {% if next_url %}
    <input type="hidden" name="next" value="{{ next_url }}">
    {% endif %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Save</button>
    </form>
    </div>
{% endblock %}