{% extends 'base.html' %}
{% block title %}Participations{% endblock %}
{% block content %}
    <h1>My Participations</h1>
<table class="table participation-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody class="participation-body">
  {%  for event in participation.eventspart.all %}
    <tr class="participation-event">
      <th scope="row">{{ forloop.counter }}</th>
        <td>{{ event }} {% include 'Participation/Snippets/removeparticipate.html' with event_id=event.id %} </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
    <div class="participation-item-remove-form" style="display: none;">
    {% include 'Participation/Snippets/removeparticipate.html' %}
    </div>
{% endblock %}