{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ heading }}|| Excelsior 18</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% if sub_event %}
    <link rel="stylesheet" href="{% static 'Single Event/assets/css/technical.css' %}" />
    {% endif %}
        {% if heading == 'Technical' %}
		<link rel="stylesheet" href="{% static 'Single Event/assets/css/technical.css' %}" />
        {% elif heading == 'Cultural' %}
        <link rel="stylesheet" href="{% static 'Single Event/assets/css/cultural.css' %}"/>
        {% elif heading == 'General' %}
        <link rel="stylesheet" href="{% static 'Single Event/assets/css/general.css' %}">
        {% endif %}
        <link rel="shortcut icon" href="{% static 'base/exc.ico' %}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
		<noscript><link rel="stylesheet" href="{% static 'Single Event/assets/css/noscript.css' %}" /></noscript>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>{% if heading == 'Bioles' %}BioTechnology{% elif heading == 'Takneek' %}Computer Science{% elif heading == 'Throttle' %}Mechanical{% elif heading == 'Acclivity'%}Electronics{% else %}{{ heading }}{% endif %}<br />
						EVENTS</h1>
                        {% if not request.user.is_authenticated %}
						<p>We think You are not Logged in! Please <a href="{% url 'Accounts:login' %}">Login Here</a>. in order to register in events</p>
                            {% else %}
                            <p>Here are events.. You can Register now and manage your Registratons from your <a href="{% url 'Participation:profile' %}">Profile.</a></p>
                    {% endif %}
						<ul class="actions">
							<li><a href="/events/allevents/{{ categ_slug }}" class="button icon solo fa-arrow-left scrolly">Go Back</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="/" class="logo">{{ heading }}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="#">{{ heading }} Events</a></li>
							<li><a href="{% if sub_event %}/events/allevents/{{ categ_slug }}/{{ urling }}/contact{% else %}/events/allevents/{{ urling }}/contact{% endif %}">Contact Team</a></li>
                           {% if not technical %}
                            <li><a href="{% if sub_event %}/events/allevents/{{ categ_slug }}/{{ urling }}/excelsior/rules{% else %}/events/allevents/{{ urling }}/excelsior/rules{% endif %}">Rules & Regulations</a> </li>
                        {% endif %}
						</ul>
						<ul class="icons">
							<li><a href="/" class="icon fa-home"><span class="label">HOME</span></a></li>
							<li><a href="{% url 'Events:events' %}" class="icon fa-calendar"><span class="label">EVENTS</span></a></li>
							<li><a href="{% url 'Participation:profile' %}" class="icon fa-user"><span class="label">PROFILE</span></a></li>
                            {% if request.user.is_authenticated %}
							<li><a href="{% url 'Accounts:logout' %}" class="icon fa-sign-out"><span class="label">SIGNOUT</span></a></li>
                            {% else %}
                                <li><a href="{% url 'Accounts:login' %}" class="icon fa-sign-in"><span class="label">SIGNIN</span></a></li>
                            {% endif %}
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<!--<article class="post featured">-->
								<!--<header class="major">-->
									<!--<span class="date">April 25, 2017</span>-->
									<!--<h2><a href="#">And this is a<br />-->
									<!--massive headline</a></h2>-->
									<!--<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />-->
									<!--facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />-->
									<!--amet nullam sed etiam veroeros.</p>-->
								<!--</header>-->
								<!--<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>-->
								<!--<ul class="actions">-->
									<!--<li><a href="#" class="button big">Full Story</a></li>-->
								<!--</ul>-->
							<!--</article>-->

						<!-- Posts -->
							<section class="posts">
                                {% for obj in object_list %}
								<article>
									<header>
										<!--<span class="date">April 24, 2017</span>-->
										<h2><a href="#">{{ obj.title }}
										</a></h2>
									</header>
									<a href="#" class="image fit">{% if obj.image %}<img src="{{ obj.image.url }}" alt="" />{% endif %}</a>
									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>
									<ul class="actions">
                                    {% if request.user.is_authenticated %}
{#										<li><a href="#" class="button">Regsiter Now</a></li>#}
                                        {% if technical and heading == 'Technical' %}
                                            <li><a href="/events/allevents/{{ urling }}/{{ obj.slug }}" class="button special">Go to {{ obj.title }}</a></li>
                                            {% else %}
                                        <li>{% include 'Events/Snippets/form.html' with event=obj participation=participate %}</li>
                                        {% endif %}
                                    {% endif %}
                                    {% if not sub_event %}
                                        <li><a href="{% if technical %}/events/allevents/{{ urling }}/{{ obj.slug }}/excelsior/rules{% else %}/events/allevents/{{ urling }}/excelsior/rules{% endif %}" class="button rules">Read More</a> </li>
                                    {% else %}
                                                                            <li><a href="/events/allevents/{{ categ_slug }}/{{ urling }}/excelsior/rules" class="button rules">Read More</a> </li>
                                    {% endif %}
                                    </ul>
								</article>
                                {% endfor %}
{#								<article>#}
{#									<header>#}
{#										<!--<span class="date">April 22, 2017</span>-->#}
{#										<h2><a href="#">Contraption#}
{#										</a></h2>#}
{#									</header>#}
{#									<a href="#" class="image fit"><img src="{% static 'Single Event/images/pic03.jpg' %}" alt="" /></a>#}
{#									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>#}
{#									<ul class="actions">#}
{#										<li><a href="#" class="button">Full Story</a></li>#}
{#									</ul>#}
{#								</article>#}
{#								<article>#}
{#									<header>#}
{#										<!--<span class="date">April 18, 2017</span>-->#}
{#										<h2><a href="#">Lan Gaming#}
{#										</a></h2>#}
{#									</header>#}
{#									<a href="#" class="image fit"><img src="{% static 'Single Event/images/pic04.jpg' %}" alt="" /></a>#}
{#									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>#}
{#									<ul class="actions">#}
{#										<li><a href="#" class="button">Full Story</a></li>#}
{#									</ul>#}
{#								</article>#}
{#								<article>#}
{#									<header>#}
{#										<!--<span class="date">April 14, 2017</span>-->#}
{#										<h2><a href="#">Rangoli#}
{#										</a></h2>#}
{#									</header>#}
{#									<a href="#" class="image fit"><img src="{% static 'Single Event/images/pic05.jpg' %}" alt="" /></a>#}
{#									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>#}
{#									<ul class="actions">#}
{#										<li><a href="#" class="button">Full Story</a></li>#}
{#									</ul>#}
{#								</article>#}
{#								<article>#}
{#									<header>#}
{#										<!--<span class="date">April 11, 2017</span>-->#}
{#										<h2><a href="#">Sherlocked#}
{#										</a></h2>#}
{#									</header>#}
{#									<a href="#" class="image fit"><img src="{% static 'Single Event/images/pic06.jpg' %}" alt="" /></a>#}
{#									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>#}
{#									<ul class="actions">#}
{#										<li><a href="#" class="button">Full Story</a></li>#}
{#									</ul>#}
{#								</article>#}
{#								<article>#}
{#									<header>#}
{#										<!--<span class="date">April 7, 2017</span>-->#}
{#										<h2><a href="#">T- Shirt Printing#}
{#										</a></h2>#}
{#									</header>#}
{#									<a href="#" class="image fit"><img src="{% static 'Single Event/images/pic07.jpg' %}" alt="" /></a>#}
{#									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>#}
{#									<ul class="actions">#}
{#										<li><a href="#" class="button">Full Story</a></li>#}
{#									</ul>#}
{#								</article>#}
							</section>

						<!-- Footer -->
							<!--<footer>-->
								<!--<div class="pagination">-->
									<!--&lt;!&ndash;<a href="#" class="previous">Prev</a>&ndash;&gt;-->
									<!--<a href="#" class="page active">1</a>-->
									<!--<a href="#" class="page">2</a>-->
									<!--<a href="#" class="page">3</a>-->
									<!--<span class="extra">&hellip;</span>-->
									<!--<a href="#" class="page">8</a>-->
									<!--<a href="#" class="page">9</a>-->
									<!--<a href="#" class="page">10</a>-->
									<!--<a href="#" class="next">Next</a>-->
								<!--</div>-->
							<!--</footer>-->

					</div>

				<!-- Footer -->
					<!--<footer id="footer">-->
						<!--<section>-->
							<!--<form method="post" action="#">-->
								<!--<div class="field">-->
									<!--<label for="name">Name</label>-->
									<!--<input type="text" name="name" id="name" />-->
								<!--</div>-->
								<!--<div class="field">-->
									<!--<label for="email">Email</label>-->
									<!--<input type="text" name="email" id="email" />-->
								<!--</div>-->
								<!--<div class="field">-->
									<!--<label for="message">Message</label>-->
									<!--<textarea name="message" id="message" rows="3"></textarea>-->
								<!--</div>-->
								<!--<ul class="actions">-->
									<!--<li><input type="submit" value="Send Message" /></li>-->
								<!--</ul>-->
							<!--</form>-->
						<!--</section>-->
						<!--<section class="split contact">-->
							<!--<section class="alt">-->
								<!--<h3>Address</h3>-->
								<!--<p>1234 Somewhere Road #87257<br />-->
								<!--Nashville, TN 00000-0000</p>-->
							<!--</section>-->
							<!--<section>-->
								<!--<h3>Phone</h3>-->
								<!--<p><a href="#">(000) 000-0000</a></p>-->
							<!--</section>-->
							<!--<section>-->
								<!--<h3>Email</h3>-->
								<!--<p><a href="#">info@untitled.tld</a></p>-->
							<!--</section>-->
							<!--<section>-->
								<!--<h3>Social</h3>-->
								<!--<ul class="icons alt">-->
									<!--<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>-->
									<!--<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>-->
									<!--<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>-->
									<!--<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>-->
								<!--</ul>-->
							<!--</section>-->
						<!--</section>-->
					<!--</footer>-->

				<!-- Copyright -->
					<div id="copyright" style="background-color: #141617; color: whitesmoke; padding: 25px">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    UIET Kurukshetra<br>Kurukshetra Univerity<br>Kurukshetra-136119
                                </div>
                                <div class="col-md-6 col-sm-6">Made By <a href="/developers">404 Shades</a> </div>
                            </div>
                        </div>
{#						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li><li>Distributor: <a href="https://themewagon.com">ThemeWagon</a></li></ul>#}
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'Single Event/assets/js/jquery.min.js' %}"></script>
            <script src="{% static 'Single Event/assets/js/animatedModal.min.js' %}"></script>
			<script src="{% static 'Single Event/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'Single Event/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'Single Event/assets/js/skel.min.js' %}"></script>
			<script src="{% static 'Single Event/assets/js/util.js' %}"></script>
			<script src="{% static 'Single Event/assets/js/main.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
            <script>
            $(document).ready(function () {
                console.log("name", "Entered");
                var event_form = $(".event-add-ajax");
                event_form.submit(function (event) {
                    console.log("Not An Issue");
                    event.preventDefault();
                    console.log("Form Is Not Sending");
                    var thisForm = $(this);
                    var action = thisForm.attr("data-endpoint");
                    var method = thisForm.attr("method");
                    var formData = thisForm.serialize();
                    $.ajax({
                        url: action,
                        method: method,
                        data:formData,
                        success: function (data) {
                            console.log(data.added);
                            var submitSpan = thisForm.find(".submit-span");
                            if(data.added){
                                submitSpan.html("<button type=\"submit\" class=\"button special\">Registered-Remove?</button>")
                               $.confirm({
                                   theme: 'modern',
                                   icon: 'fa fa-smile-o',
                                   title: 'Confirm',
                                   content: 'Thank You!! Your Registration is Sucessful',
                                   type: 'blue',
                                   animation: 'scale',
                                   buttons: {
                                       ok: {
                                           text: "Okay!",
                                           btnClass: 'special',
                                           keys: ['enter']
                                        }
                                     }
                                })
                            }
                            else {
                                submitSpan.html("<button type=\"submit\" class=\"button special\">Register Now</button>")
                                 $.confirm({
                                     theme: 'modern',
                                     icon: 'fa fa-frown-o',
                                     title: 'Removed',
                                     type: 'red',
                                     animation: 'scale',
                                     content: 'Your Registration has been removed',
                                     buttons: {
                                        ok: {
                                            text: "Okay!",
                                            btnClass: 'button',
                                            keys: ['enter']
                                        }
                                     }
                                })
                            }
                            if (window.location.href.indexOf("participation") !== -1){
                                refreshParticipate()
                            }
                        },
                        error: function (errorData) {
                            console.log("error", errorData);
                        }
                    })
                });

               function refreshParticipate() {
                   console.log("In the Participation Page");
                   var home_participate_table = $(".participation-table");
                   var home_participate_body = home_participate_table.find(".participation-body");
                   var event_rows = home_participate_body.find('.participation-event');
                   var currentUrl = window.location.href;
                   var updateParticipateUrl = '/api/participate';
                   var updateParticipateMethod = "GET";
                   var data = {};
                   $.ajax({
                       url: updateParticipateUrl,
                       method: updateParticipateMethod,
                       data: data,
                       success: function (data) {
                         var hiddenParticipateEventRemoveForm = $('.participation-item-remove-form');
                         if (data.eventsring.length>0) {
                             event_rows.html("");
                             i=data.eventsring.length;
                             $.each(data.eventsring, function (index, value) {
                                 var newParticpationEventForm = hiddenParticipateEventRemoveForm.clone();
                                 newParticpationEventForm.css('display','block');
                                 newParticpationEventForm.find(".participation-event-id").val(value.ide);
                                home_participate_body.prepend("<tr><th scope=\"row\">" + i  + "</th><td>" + value.title + newParticpationEventForm.html() +  "</td></tr>");
                                i--;
                             });
                         }
                         else {
                             window.location.href = currentUrl;
                         }
                       },
                       error: function (errorData) {
                           console.log(errorData);
                       }
                   })
               }

            })
            </script>

	</body>
</html>