 #button{
            position: absolute;
            font-family: "Arial", "sans-serif";
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-decoration: none;
            padding: 15px 40px;
            border: 2px solid white;
            outline: 1px solid rgba(255,255,255,.7);
            -webkit-transition: all .7s;
            -moz-transition: all .7s;
            -ms-transition: all .7s;
            -o-transition: all .7s;
            transition: all .7s;
        }
        #button:hover{
            text-shadow: 0 0 20px rgba(255,255,255,1);
            -webkit-box-shadow: inset 0 0 20px rgba(255,255,255,.2), 0 0 20px rgba(255,255,255,0.3);
            -moz-box-shadow: inset 0 0 20px rgba(255,255,255,.2), 0 0 20px rgba(255,255,255,0.3);
            box-shadow: inset 0 0 20px rgba(255,255,255,.2), 0 0 20px rgba(255,255,255,0.3);
            outline-color: rgba(255,255,255,0);
            outline-offset: 15px;
        }