{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Register Now{% endblock %}
{% block styling %}
<style type="text/css">
    body{
        background-image: url('/static/base/register.jpg');
        margin-top: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        font-family: 'Josefin Sans', serif;
        font-size: 24px;
        color: #FFFFFF;
    }
    #form{
        background-color: rgba(0,0,0,0.7);
        min-height: 700px;
        padding: 15px;

    }
    .registration{
        border-bottom-style: groove;
    }
    .butn{
        background-color: #FFFFFF;
        border: none;
        color: #141617;
        cursor: pointer;
        margin-top: 10px;
        padding: 10px;
        left: 45%;
        position: relative;
        width:120px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12" id="form">
            <center><b class="registration" >Register Now!</b></center>
            <br>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Register" class="butn">
                <p style="text-align: center">Already have an account </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}