<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <title>
            EXCELSIOR 2018|| ANNUAL TECHNO CULTURAL FEST OF UIET KUK
        </title><!-- Behavioral Meta Data -->
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta content="Excelsior 2018" name="title">
        <meta content="UIET Kurukshetra" name="description">
        <meta content="College Fest, Cultural Fest, Kurukshetra University, Kurukshetra" name="keywords">
        <meta content="Excelsior 2018|| Annual Techno Cultural Fest Of Uiet KUK">
        <meta content="Excelsior">
        <meta content="Excelsior">
        <meta content="UIET Kurukshetra">

        <link href="{% static 'base/exc.ico' %}" rel="shortcut icon" type="image/png">
        <link rel="stylesheet" href={% static 'navbar.css' %}>
        <link rel="stylesheet" href="{% static 'buttondrive.css' %}">
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <!-- CSS -->




        <link href="https://fonts.googleapis.com/css?family=Vast+Shadow" rel="stylesheet">
         <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

        <link href="{% static 'Launcher/css/loader.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'Launcher/css/normalize.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'Launcher/css/font-awesome.min.css' %}">
        <link href="{% static 'Launcher/css/style.css' %}" rel="stylesheet" type="text/css">
        <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="{% static 'Launcher/css/ie.css' %}" />
        <![endif]-->
        <!-- Javascript -->

        <script src="{% static 'Launcher/js/jquery.js'%}"></script>
    </head>
    <body>
    <div id="MenuIcon">
    <div id="MenuLine"></div>
</div>
    {% if request.user.is_authenticated %}
   <a id="button" href="{% url 'Events:events' %}">All Events</a>
    {% else %}
    <a id="button" href="{% url 'Accounts:login' %}">Login</a>
    {% endif %}
    <div id="MainRohan">
    <div id="logging">
        <img src="{% static 'Launcher/images/white.png' %}">
    </div>
    <ul class="rohan">
        <li><a href="/">HOME<div class="lunar"></div></a> </li>
        <li><a href="{% url 'Events:events' %}">ALL EVENTS<div class="lunar"></div></a></li>
        <li><a href="{% url 'Participation:profile' %}">PROFILE<div class="lunar"></div></a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'Accounts:logout' %}">LOGOUT<div class="lunar"></div></a></li>
            {% else %}
            <li><a href="{% url 'Accounts:login' %}">LOGIN<div class="lunar"></div> </a> </li>
        {% endif %}
    </ul>
     <div id="closer">
        <img src="{% static 'Launcher/images/closebutton.png' %}">
    </div>
</div>

        <div class="preloader">
            <div class="loading">
                <img src="{% static 'Launcher/images/Preloader.gif' %}">
{#                <span class="progress"></span>#}
            </div>
        </div>

        <div class="wrapper">
            <ul class="scene" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15" id="scene">
                <li class="layer" data-depth="0.00">
                </li>
                <!-- BG -->

                <li class="layer" data-depth="0.10">
                    <div class="background">
                    </div>
                </li>



                <li class="layer" data-depth="0.20">
                    <div class="title">
                        <h2>
                            UIET Kurukshetra Presents
                            <span class="line"></span><br>
                            EXCELSIOR 18
                        </h2>

                    </div>
                </li>

                <li class="layer" data-depth="0.25">
                    <div class="sphere">
                        <img alt="sphere" src="{% static 'Launcher/images/logo.png' %}">
                    </div>
                </li>
                <li class="layer" data-depth="0.30">
                    <div class="hero">
                        <h1 id="countdown">
                            We are Coming Soon!
                        </h1>

                        <p class="sub-title">
                            We are Coming Soon!
                        </p>
                    </div>
                </li>


{#                <li class="layer" data-depth="0.40">#}
{#                    <div class="depth-1 flake1">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth1/flakes1.png' %}">#}
{#                    </div>#}
{##}
{#                    <div class="depth-1 flake2">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth1/flakes2.png' %}">#}
{#                    </div>#}
{##}
{#                    <div class="depth-1 flake3">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth1/flakes3.png' %}">#}
{#                    </div>#}
{##}
{#                    <div class="depth-1 flake4">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth1/flakes4.png' %}">#}
{#                    </div>#}
{#                </li>#}

                <li class="layer" data-depth="0.50">
                    <div class="depth-2 flake1">
                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth2/flakes1.png' %}">
                    </div>

                    <div class="depth-2 flake2">
                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth2/flakes2.png' %}">
                    </div>
                </li>

{#                <li class="layer" data-depth="0.60">#}
{#                    <div class="depth-3 flake1">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth3/flakes1.png'%}">#}
{#                    </div>#}
{##}
{#                    <div class="depth-3 flake2">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth3/flakes2.png' %}">#}
{#                    </div>#}
{##}
{#                    <div class="depth-3 flake3">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth3/flakes3.png' %}">#}
{#                    </div>#}
{##}
{#                    <div class="depth-3 flake4">#}
{#                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth3/flakes4.png' %}">#}
{#                    </div>#}
{#                </li>#}

                <li class="layer" data-depth="0.80">
                    <div class="depth-4">
                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth4/flakes.png' %}">
                    </div>
                </li>

                <li class="layer" data-depth="1.00">
                    <div class="depth-5">
                        <img alt="flake" src="{% static 'Launcher/images/flakes/depth5/flakes.png' %}">
                    </div>
                </li>


                <li class="layer" data-depth="0.20">
                    <div class="contact">
                        <ul class="icons">
                            <li>
                                <a class="behance" href="https://www.fb.com/excelsior.uiet"><i class="fa fa-facebook"></i></a>
                            </li>

                            <li>
                                <a class="twitter" href="https://www.instagram.com/excelsioruiet"><i class="fa fa-instagram"></i></a>
                            </li>

                            <li>
                                <a class="dribbble" href="mailto:excelsior@gmail.com?subject=Hello%20Team%20Excelsior!"><i class="fa fa-google-plus-square"></i></a>
                            </li>
                        </ul>
                        Made by <a href="https://www.fb.com/rohan4uu" target="_blank" style="color: whitesmoke;">404 shades </a>
                        <a class="mail" href="">()</a>
                    </div>
                </li>
            </ul>
        </div>

        <script src="{% static 'Launcher/js/plugins.js' %}"></script>
        <script src="{% static 'Launcher/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'Launcher/js/main.js' %}"></script>
    <script>
    $(document).ready(function () {
    $('#MenuIcon').click(function () {
        console.log("lojkjkjk");
        $('#MainRohan').css("left", "0px");
        function showMenu() {
            $('#MainRohan').css("clip-path","polygon(0 0,100% 0,100% 100%,0% 100%)");
            $("#MenuIcon").animate({left: '-100'},300);
        }
        setTimeout(showMenu, 100);
    });
    $('#closer').click(function () {
        console.log("Rohan Maki");
        $('#MainRohan').css("clip-path",'polygon(0 0,0% 0,100% 100%,0% 100%)');
        function hideMenu() {
            $('#MainRohan').css("left", "-200%");
            $('#MenuIcon').animate({left: '40'},300);
        }
        setTimeout(hideMenu,300);

        function originalLayout() {
            $('#MainRohan').css("clip-path","polygon(0 0,100% 0,0% 100%,0% 100%)");
        }
        setTimeout(originalLayout, 600);
    });
});

    </script>

    </body>
</html>